[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
camphor-schedule-notifier = {editable = true,extras = ["test"],path = "."}

[packages]
camphor-schedule-notifier = {editable = true,path = "."}

[requires]
python_version = "3.7"
